@keyframes loading {
    0% {
        opacity: 1
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

html {
    overflow-y: scroll;
}

html,body {
    margin: 0;
    padding: 0;
}

* {
    font-family: "Arial", sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding-inline: 1rem;
}

header {
    text-align: center;
}

h1 {
    margin-bottom: 0.5rem;
}

h2 {
    margin-bottom: 0.8rem;
}

.warning {
    display: flex;
    padding: 0.8rem 1rem;
    align-items: center;
    border-radius: 0.5rem;
    margin-block: 0.5rem;
    gap: 1rem;
    background: rgb(254 252 232);
    color: rgb(161 98 7);
}

.warning.hidden {
    display: none;
}

.warning svg {
    max-width: 1.5rem;
    aspect-ratio: 1;
    fill: rgb(250 204 21);
}

.links {
    display: flex;
    gap: 1.5rem 2rem;
    margin-block: 1.5rem;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}

.origin-container.loading {
    text-align: center;
}

.origin-container.loading > *:not(.loader) {
    display: none;
}

.origin-container:not(.loading) > .loader {
    display: none;
}


.origin-options {
    display: flex;
    width: 100%;
    margin-top: 0.7rem;
    margin-bottom: 0.3rem;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem 2rem;
}

.origin-options p.last-update {
    color: #6c6c6c;
    font-size: 0.9rem;
    margin: 0;
}

.pick-team {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.pick-team label {
    flex-shrink: 0;
}

.pick-team select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: 1px solid #ccc;
    border-radius: 0.3rem;
    min-width: 8rem;
    flex: 1 1 100%;
    padding: 0.4rem 0.6rem;
}


.origin-buttons {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 0.5rem 0;
    padding: 0;
    gap: 0.5rem;
}

.origin-buttons li a {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: rgb(63 81 181 / 10%);
    border: none;
    padding: 0.5rem 0.6rem;
    border-radius: 0.3rem;
    cursor: pointer;
    color: inherit;
    display: block;
    font-size: 0.85rem;
}

.origin-container.select .origin-buttons {
    flex-direction: column;
}

.origin-container.select .origin-options,
.origin-container.select ~ table,
.origin-container.select .origin-buttons li a .abbr {
    display: none;
}

.origin-container:not(.select) .origin-buttons li a .full {
    display: none;
}

.origin-buttons li.loading {
    position: relative;
    color: transparent;
}

.origin-buttons li.loading::after {
    content: " ";
    position: absolute;
    height: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    aspect-ratio: 1;
    border: 2px solid #000;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: button-spinner 1s linear infinite;
}

.origin-buttons li.selected a {
    background: rgb(63 81 181 / 35%)
}

a {
    text-decoration: none;
    color: #3F51B5;
}

a.copied {
    color: #4CAF50;
}

a:visited {
    color: #3F51B5;
}

table {
    text-align: left;
    width: 100%;
    border-collapse: collapse;
}

table tr th,
table tr td {
    padding: 0.4rem;
}

table tr th:nth-child(1),
table tr td:nth-child(1) {
    line-break: anywhere;
    padding-left: 0;
}

table tr th:nth-child(3),
table tr td:nth-child(3) {
    padding-right: 0;
}

table tr th:nth-child(2),
table tr td:nth-child(2),
table tr th:nth-child(3),
table tr td:nth-child(3) {
    width: 0;
    text-align: center;
    white-space: nowrap;
}

.loader {
    width: 1.6rem;
    aspect-ratio: 1;
    border: 4px solid rgb(63 81 181 / 35%);
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: global-spinner 1s linear infinite;
    margin: 0 auto;
}

@keyframes global-spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes button-spinner {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}